body {
    margin: 15px;
    background-color: wheat;
}

#fh1 {
    color: #FFFAFB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    background-color: teal;
    text-align: center;
    border: black solid;
}

#fspan {
    color: navy;
    font-size: .5em;
}

#p1 {
    background-color: black;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

#fpfol {
    background-color: wheat;
    color: white;
    border: gold solid;
    border-left: 30px;
    padding-bottom: 20px;
    border-radius: 30px;

}

h3 {
    color: wheat;
    font-size: 1.5em;
    font-family: cursive;
}



#fpfo2 {
    background-color: whitesmoke;
    color: white;

}
button {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 5px darkgray solid;
    padding: 40px, 55px;
}
#fpfo2 a {
    color: white
}
button a {
    color: white
}

#cricketh3 {
    color: white;
}

#fpfol li a {
    color: white;
}
#spanh3 {
    color: black;
    text-align: center;
}

#spanbd {
    background-color: white;
    color: black;
    font-family: cursive;
}
